.companies .bdr-top, .full__scan .bdr-top, .thrideye .bdr-top, .thrideye .cards .card .top-bar, .features__wrapper .facilities .bdr-top, .reviews .bdr-top, .pricing .bdr-top, .banner .start .bdr-top, .resources .bdr-top {
  margin: 10px auto;
  width: 100px;
  border-top: 4px solid black;
}

.features__wrapper .mockup img, .pricing .options img, .banner .logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  background: whitesmoke;
}

@media screen and (min-width: 990px) {
  .navbar .navbar-brand {
    margin-left: 2rem;
  }
  .navbar .main-ul {
    margin-left: 20rem;
  }
  .navbar .more-ul {
    margin-left: 2rem;
  }
}

.navbar img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.navbar .more {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.navbar .more span:first-child {
  border-bottom: 3px solid #5cbd2f;
  width: 0%;
}

.navbar .more span:last-child {
  margin-top: 2px;
  border-bottom: 3px solid #5cbd2f;
  width: 0%;
}

.navbar .more:hover span:first-child {
  animation: increase 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
}

@keyframes increase {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.navbar .more:hover span:last-child {
  animation: increase2 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s 1 forwards;
}

@keyframes increase2 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.navbar .m-log {
  display: none;
}

@media screen and (max-width: 990px) {
  .navbar .m-log {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .navbar .m-log2 {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .navbar #more-box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 990px) {
  .navbar {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .navbar .m-log {
    display: none;
  }
  .navbar .m-log2 {
    display: block;
  }
}

header {
  width: 100%;
  margin: 0 auto;
  color: whitesmoke;
  padding: 4rem;
  background-image: url("/Images/header.jpg");
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header h1 {
  text-transform: capitalize;
  font-size: 3rem;
}

header form input::placeholder {
  text-align: center;
}

header form button {
  margin: 0 auto;
  color: whitesmoke;
  background: #5cbd2f;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  outline: none;
  border: 0;
}

@media screen and (min-width: 990px) {
  header {
    width: 80%;
    padding-top: 8rem;
    text-align: center;
  }
  header form {
    display: grid;
    place-content: center;
  }
  header form #formGroupExampleInput,
  header form #formGroupExampleInput2 {
    width: 400px;
  }
  header form input::placeholder {
    text-align: left;
    padding-left: 2rem;
  }
}

.companies {
  margin: 20px 0;
  text-align: center;
}

.companies h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.companies img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.companies .partners1 {
  display: none;
}

@media screen and (min-width: 990px) {
  .companies .partners2 {
    display: none;
  }
  .companies .partners1 {
    display: block;
  }
}

.full__scan {
  width: 80%;
  margin: 20px auto;
}

.full__scan-info {
  text-align: center;
}

.full__scan-info h1 {
  font-size: 2rem;
}

.full__scan-info .f-scan {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background: darkblue;
  color: whitesmoke;
  border-radius: 6px;
}

.full__scan-info p {
  font-size: 1.1rem;
}

.full__scan-report {
  margin-top: 2rem;
}

.full__scan-report h3 {
  font-weight: 800;
}

.full__scan-report ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.full__scan-report ul li::marker {
  font-size: 1.5rem;
  color: #091a2e;
}

.full__scan-report img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 990px) {
  .full__scan-report {
    display: flex;
  }
}

.thrideye {
  width: 80%;
  margin: 50px auto;
}

.thrideye h1 {
  text-align: center;
  font-size: 1.5rem;
}

.thrideye .cards {
  margin: 30px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thrideye .cards .card {
  border: none;
}

.thrideye .cards .card .top-bar {
  border-color: #5cbd2f;
  margin-left: 3rem;
}

@media screen and (max-width: 520px) {
  .thrideye .cards .card .top-bar {
    margin-left: 2.2rem;
  }
}

.thrideye .cards .card h2 {
  display: flex;
  gap: 2px;
  align-items: center;
}

.thrideye .cards .card h2 img {
  width: 10%;
}

.thrideye .cards .card p {
  margin-top: 10px;
  margin-left: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 990px) {
  .thrideye .cards {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 1fr);
    gap: 6rem;
    place-content: center;
  }
}

.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  margin: 20px auto;
  background: #f8f7fd;
  padding: 0.8rem 0.2rem;
}

.statistics .stat h1 {
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: #091a2e;
}

.statistics .stat h1 img {
  width: 15%;
}

@media screen and (min-width: 990px) {
  .statistics .stat h1 {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.statistics .stat p {
  font-size: 1rem;
  margin-left: 3rem;
  font-weight: 500;
}

@media screen and (min-width: 990px) {
  .statistics {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3rem;
  }
  .statistics .stat:first-child {
    margin-left: 3rem;
  }
}

.features {
  width: 80%;
  margin: 50px auto;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.features__wrapper .facilities {
  text-align: center;
}

.features__wrapper .facilities .tagline {
  font-weight: 500;
  letter-spacing: 2px;
}

.features__wrapper .facilities .facilities-list {
  display: grid;
  place-content: center;
  gap: 15px;
}

.features__wrapper .facilities .box {
  border: 1px solid #091a2e;
  width: 350px;
  background: #f8f7fd;
  padding: 1.5rem 0.5rem;
  border-radius: 10px;
}

.features__wrapper .facilities .box p {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

.features__wrapper .mockup img {
  margin-left: 2rem;
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .features__wrapper {
    flex-direction: row-reverse;
    gap: 5rem;
  }
  .features .facilities h1 {
    font-size: 1.2rem;
  }
  .features .facilities p {
    font-size: 1rem;
  }
  .features .facilities .facilities-list {
    flex: 0 0 auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  .features .facilities .facilities-list .box {
    width: 300px;
  }
  .features .facilities .facilities-list .box p {
    font-size: 1.2rem;
  }
  .features .mockup img {
    width: 150%;
    margin: 0;
    flex: 1;
  }
}

.reviews {
  margin: 50px auto;
  text-align: center;
}

.reviews .wrapper {
  margin-top: 20px;
}

.reviews .review-box .review {
  width: 100%;
}

.reviews .review-box .review .review-info {
  background: #f8f7fd;
  padding: 0.5rem;
  position: relative;
  box-shadow: 1px 3px 3px 0px #dfe6e9;
}

.reviews .review-box .review .review-info p {
  margin-bottom: 2rem;
}

.reviews .review-box .review .review-info .pp {
  position: absolute;
  right: 15%;
  top: 125%;
  transform: translate(-50%, -50%);
}

.reviews .review-box .review .reviewer {
  margin-top: 8rem;
}

.reviews .review-box .review .reviewer .bdr-top {
  border-color: #5cbd2f;
  border-top-width: 2px;
}

.reviews .review-box .review:last-child {
  display: none;
}

@media screen and (min-width: 990px) {
  .reviews .reviews {
    width: 80%;
  }
  .reviews .review-box .review:last-child {
    display: block;
  }
  .reviews .review-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .reviews .review-box .review {
    width: 400px;
  }
}

.pricing {
  text-align: center;
  margin: 50px auto;
  font-size: 1rem;
}

.pricing .options {
  margin-top: 7rem;
  background: #f8f7fd;
}

.pricing .price-list {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pricing .price-list .price {
  width: 200px;
  border: 2px solid #00008b;
  border-top-width: 8px;
  padding: 0.5rem 1rem;
}

.pricing .check {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  justify-content: center;
  align-items: center;
}

.pricing .check img {
  width: 20%;
  height: auto;
  object-fit: cover;
}

.pricing .trail {
  margin-top: 30px;
}

.pricing .trail p {
  color: #5cbd2f;
}

.pricing .trail button {
  padding: 0.5rem 2rem;
  background: darkblue;
  color: whitesmoke;
  border-radius: 6px;
}

.pricing .arrow {
  margin-top: 20px;
  margin-left: 15rem;
}

.pricing .price-pc {
  display: none;
}

@media screen and (min-width: 990px) {
  .pricing .price h2 {
    font-size: 1.1rem;
  }
  .pricing .arrow {
    display: none;
  }
  .pricing .price-pc {
    display: block;
  }
  .pricing .price-pc h2 {
    font-size: 1rem;
  }
  .pricing .price-list {
    gap: 1rem;
  }
  .pricing .custom {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.65;
  }
  .pricing .custom ul li::marker {
    font-size: 1.5rem;
    color: #091a2e;
  }
  .pricing .custom .month {
    margin-top: 3rem;
  }
  .pricing .check {
    gap: 2.8rem;
  }
}

.banner {
  text-align: center;
  background: #00008b;
  padding: 2rem 4rem;
  color: whitesmoke;
  margin: 20px 0 30px;
}

.banner .logo img {
  width: 60%;
}

.banner .start .bdr-top {
  border-color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner .start h1 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 1.5;
}

.banner .start button {
  padding: 0.5rem 2rem;
  background: whitesmoke;
  color: #091a2e;
  border-radius: 6px;
  font-weight: bold;
}

@media screen and (min-width: 990px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
  }
  .banner .logo img {
    width: 40%;
  }
  .banner .start h1 {
    font-size: 1.8rem;
  }
}

.resources {
  text-align: center;
  margin: 50px auto;
}

.resources .card-box {
  margin-top: 20px;
  display: grid;
  place-items: center;
}

.resources .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.resources .card-body {
  text-align: left;
  background: #f8f7fd;
}

.resources .card-body .c-btn {
  background: #00008b !important;
}

.resources .card-title {
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #091a2e;
  display: inline-block;
  margin-bottom: 20px;
}

.resources .box-hidden {
  display: none;
}

.resources .arrow {
  margin-top: 20px;
}

@media screen and (min-width: 990px) {
  .resources {
    width: 80%;
  }
  .resources .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .resources .box-hidden {
    display: block;
  }
  .resources .arrow {
    display: none;
  }
}

footer {
  padding: 1.5rem 0 0;
  background: #00008b;
  color: whitesmoke;
}

footer .wrapper {
  margin: 0 auto;
}

footer .wrapper .social img {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

footer .wrapper .nav-links-mobile {
  margin: 30px 0;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 990px) {
  footer .wrapper .nav-links-mobile {
    display: none;
  }
}

footer .wrapper .nav-links-mobile .accordion-item {
  border: none;
}

footer .wrapper .nav-links-mobile .accordion-button {
  color: whitesmoke;
  background: #00008b;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

footer .wrapper .nav-links-mobile .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(216, 17, 17, 0.125);
}

footer .wrapper .nav-links-mobile .accordion-body {
  background: #00008b;
}

footer .wrapper .nav-links-mobile .accordion-body ul {
  list-style: none;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .wrapper .nav-links-mobile .accordion-body ul li {
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

footer .wrapper .nav-links-mobile .accordion-body ul li:hover {
  transform: translateX(5px);
  color: #5cbd2f;
}

footer .wrapper .nav-links-pc {
  display: none;
}

@media screen and (min-width: 990px) {
  footer .wrapper {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
  footer .wrapper .nav-links-pc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .wrapper .nav-links-pc .nav-item h2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  footer .wrapper .nav-links-pc .nav-item h2:hover {
    border-color: #5cbd2f;
  }
  footer .wrapper .nav-links-pc .nav-item ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer .wrapper .nav-links-pc .nav-item ul li {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  footer .wrapper .nav-links-pc .nav-item ul li:hover {
    transform: translateX(5px);
    color: #5cbd2f;
  }
  footer .wrapper .social img {
    margin-right: 0.1rem;
  }
}

.copyright {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 20px auto;
  font-size: 1.3rem;
}

.copyright .log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.copyright .log-in button {
  outline: none;
  border: none;
  background: #00008b;
  color: #fff;
  border-radius: 20px;
  font-size: 2rem;
  padding: 0 1rem;
  height: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .copyright .log-in {
    display: none;
  }
}

.copyright p {
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .copyright p {
    margin: 0 auto;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */