%top-bdr {
  margin: 10px auto;
  width: 100px;
  border-top: 4px solid black;
}
%img-responsive {
  width: 100%;
  height: auto;
  object-fit: cover;
}
$color1: whitesmoke;
$color2: #091a2e;
$color3: #5cbd2f;
$color4: #122533;
$color5: #dfe6e9;
