// navbar
%top-bdr {
  margin: 10px auto;
  width: 100px;
  border-top: 4px solid black;
}
$color1: whitesmoke;
$color2: #091a2e;
$color3: #5cbd2f;
$color4: #122533;
$color5: #dfe6e9;
.navbar {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  background: $color1;

  & img {
    width: 150px;
    height: auto;
    object-fit: cover;
  }
  .more {
    display: flex;
    gap: 2px;
    flex-direction: column;

    span:first-child {
      border-bottom: 3px solid $color3;
      width: 0%;
    }
    span:last-child {
      margin-top: 2px;
      border-bottom: 3px solid $color3;
      width: 0%;
    }

    &:hover span:first-child {
      animation: increase 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;

      @keyframes increase {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
    }
    &:hover span:last-child {
      animation: increase2 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s 1
        forwards;

      @keyframes increase2 {
        from {
          width: 0%;
        }
        to {
          width: 70%;
        }
      }
    }
  }

  //mq
  .m-log {
    display: none;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
  .m-log2 {
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
  @media screen and (max-width: 990px) {
    #more-box {
      display: flex;
      flex-direction: column;
    }
    width: 100%;
  }
  .navbar-brand {
    margin: 0 50px;
    @media screen and (max-width: 990px) {
      margin: 0;
    }
  }
}

//header
header {
  width: 100%;
  margin: 0 auto;
  color: $color1;
  padding: 4rem;
  background-image: url("/Images/header.jpg");
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1 {
    text-transform: capitalize;
    font-size: 3rem;
  }
  & form {
    input::placeholder {
      text-align: center;
    }
    button {
      margin: 0 auto;
      color: $color1;
      background: $color3;
      padding: 0.5rem 2rem;
      border-radius: 6px;
      outline: none;
      border: 0;
    }
  }
  @media screen and (min-width: 990px) {
    width: 80%;
    padding-top: 8rem;
    text-align: center;
    form {
      display: grid;
      place-content: center;
      #formGroupExampleInput,
      #formGroupExampleInput2 {
        width: 400px;
      }
      input::placeholder {
        text-align: left;
        padding-left: 2rem;
      }
    }
  }
}

//companies
.companies {
  margin: 20px 0;
  text-align: center;
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .bdr-top {
    @extend %top-bdr;
  }
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .partners1 {
    display: none;
  }
  @media screen and (min-width: 990px) {
    .partners2 {
      display: none;
    }
    .partners1 {
      display: block;
    }
  }
}
// full scan
.full__scan {
  width: 80%;
  margin: 20px auto;
  .bdr-top {
    @extend %top-bdr;
  }
  &-info {
    text-align: center;

    h1 {
      font-size: 2rem;
    }

    .f-scan {
      display: block;
      margin: 0 auto;
      padding: 0.5rem 2rem;
      background: darkblue;
      color: whitesmoke;
      border-radius: 6px;
    }
    p {
      font-size: 1.1rem;
    }
  }

  &-report {
    margin-top: 2rem;
    h3 {
      font-weight: 800;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
      & li::marker {
        font-size: 1.5rem;
        color: #020f21;
      }
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media screen and (min-width: 990px) {
      display: flex;
    }
  }
}

//thrideye
.thrideye {
  width: 80%;
  margin: 20px auto;
  .bdr-top {
    @extend %top-bdr;
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .cards {
    margin: 30px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card {
      border: none;
      & .top-bar {
        @extend %top-bdr;
        border-color: $color3;
        margin-left: 3rem;
      }
      h2 {
        display: flex;
        gap: 2px;
        align-items: center;
        & img {
          width: 10%;
        }
      }
      p {
        margin-top: 10px;
        margin-left: 2rem;
        font-weight: 500;
      }
    }
    @media screen and (min-width: 990px) {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      place-content: center;
    }
  }
}

//statistics
.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  // margin: 20px auto;
  background: $color5;
  padding: 0.5rem 0.2rem;

  .stat {
    h1 {
      display: grid;
      place-items: center;

      font-size: 3rem;
      color: $color2;
      & img {
        width: 10%;
      }
      @media screen and(min-width: 990px) {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    p {
      font-size: 1.1rem;
      margin-left: 3rem;
      font-weight: 500;
    }
  }
  @media screen and (min-width: 990px) {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3rem;

    & .stat:first-child {
      margin-left: 3rem;
    }
  }
}
