// navbar

.navbar {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  background: $color1;

  @media screen and (min-width: 990px) {
    .navbar-brand {
      margin-left: 2rem;
    }
    .main-ul {
      margin-left: 20rem;
    }
    .more-ul {
      margin-left: 2rem;
    }
  }

  & img {
    width: 150px;
    height: auto;
    object-fit: cover;
  }
  .more {
    display: flex;
    gap: 2px;
    flex-direction: column;

    span:first-child {
      border-bottom: 3px solid $color3;
      width: 0%;
    }
    span:last-child {
      margin-top: 2px;
      border-bottom: 3px solid $color3;
      width: 0%;
    }

    &:hover span:first-child {
      animation: increase 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;

      @keyframes increase {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
    }
    &:hover span:last-child {
      animation: increase2 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s 1
        forwards;

      @keyframes increase2 {
        from {
          width: 0%;
        }
        to {
          width: 70%;
        }
      }
    }
  }

  //mq
  .m-log {
    display: none;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }
  .m-log2 {
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
  @media screen and (max-width: 990px) {
    #more-box {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 990px) {
    width: 80%;
  }

  @media screen and (max-width: 400px) {
    .m-log {
      display: none;
    }
    .m-log2 {
      display: block;
    }
  }
}

//header
header {
  width: 100%;
  margin: 0 auto;
  color: $color1;
  padding: 4rem;
  background-image: url("/Images/header.jpg");
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1 {
    text-transform: capitalize;
    font-size: 3rem;
  }
  & form {
    input::placeholder {
      text-align: center;
    }
    button {
      margin: 0 auto;
      color: $color1;
      background: $color3;
      padding: 0.5rem 2rem;
      border-radius: 6px;
      outline: none;
      border: 0;
    }
  }
  @media screen and (min-width: 990px) {
    width: 80%;
    padding-top: 8rem;
    text-align: center;
    form {
      display: grid;
      place-content: center;
      #formGroupExampleInput,
      #formGroupExampleInput2 {
        width: 400px;
      }
      input::placeholder {
        text-align: left;
        padding-left: 2rem;
      }
    }
  }
}
