.reviews {
  margin: 50px auto;
  text-align: center;

  .bdr-top {
    @extend %top-bdr;
  }
  .wrapper {
    margin-top: 20px;
  }
  .review-box {
    .review {
      width: 400px;
      & .review-info {
        background: $color5;
        padding: 0.5rem;
        position: relative;
        box-shadow: 1px 3px 3px 0px rgba(223, 230, 233, 1);
        p {
          margin-bottom: 2rem;
        }

        & .pp {
          position: absolute;
          right: 15%;
          top: 125%;
          transform: translate(-50%, -50%);
        }
      }
      .reviewer {
        margin-top: 8rem;
        .bdr-top {
          border-color: $color3;
          border-top-width: 2px;
        }
      }
    }
  }
  .review-box .review:last-child {
    display: none;
  }
  @media screen and (min-width: 990px) {
    .reviews {
      width: 80%;
    }
    .review-box .review:last-child {
      display: block;
    }
    .review-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }
  }
}

//pricing

.pricing {
  // width: 80%;
  text-align: center;
  margin: 50px auto;
  font-size: 1rem;
  & .bdr-top {
    @extend %top-bdr;
  }
  .options {
    margin-top: 7rem;
    background: $color5;
    img {
      @extend %img-responsive;
      width: 80%;
    }
  }
  .price-list {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

    // gap: 1rem;

    .price {
      width: 200px;

      border: 2px solid $color4;
      border-top-width: 8px;
      padding: 0.5rem 1rem;
    }
    .month {
      // margin-bottom: 20px;
    }
  }
  .check {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    justify-content: center;
    align-items: center;

    & img {
      width: 20%;
      height: auto;
      object-fit: cover;
    }
  }
  .trail {
    margin-top: 30px;
    p {
      color: $color3;
    }
    button {
      padding: 0.5rem 2rem;
      background: darkblue;
      color: whitesmoke;
      border-radius: 6px;
    }
  }
  .arrow {
    margin-top: 20px;
    margin-left: 15rem;
  }

  .price-pc {
    display: none;
  }
  @media screen and (min-width: 990px) {
    .price h2 {
      font-size: 1.1rem;
    }
    .arrow {
      display: none;
    }
    .price-pc {
      display: block;
      h2 {
        font-size: 1rem;
      }
    }
    .price-list {
      gap: 1rem;
    }
    .custom {
      text-align: left;
      font-size: 0.8rem;
      font-weight: 500;
      line-height: 1.65;
      ul {
        li::marker {
          font-size: 1.5rem;
          color: $color2;
        }
      }
      .month {
        margin-top: 3rem;
      }
    }
  }
}

//BANNER

.banner {
  text-align: center;
  background: $color4;
  padding: 2rem 4rem;
  color: $color1;
  margin: 20px 0 30px;
  .logo {
    img {
      @extend %img-responsive;
      width: 60%;
    }
  }
  .start {
    .bdr-top {
      @extend %top-bdr;
      border-color: $color1;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h1 {
      letter-spacing: 2px;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    button {
      padding: 0.5rem 2rem;
      background: $color1;
      color: $color2;
      border-radius: 6px;
      font-weight: bold;
    }
  }
  @media screen and (min-width: 990px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;

    .logo {
      img {
        width: 40%;
      }
    }
    .start {
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}

//resources

.resources {
  text-align: center;
  margin: 50px auto;
  .bdr-top {
    @extend %top-bdr;
  }
  .card-box {
    margin-top: 20px;
    display: grid;
    place-items: center;
  }
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  .card-body {
    text-align: left;
    background: $color5;

    .c-btn {
      background: $color4 !important;
    }
  }
  .card-title {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid $color2;
    display: inline-block;
    margin-bottom: 20px;
  }

  .box-hidden {
    display: none;
  }
  .arrow {
    margin-top: 20px;
  }
  @media screen and (min-width: 990px) {
    width: 80%;

    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
    .box-hidden {
      display: block;
    }
    .arrow {
      display: none;
    }
  }
}
