//thrideye
.thrideye {
  width: 80%;
  margin: 20px auto;
  .bdr-top {
    @extend %top-bdr;
  }
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .cards {
    margin: 30px 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card {
      border: none;
      & .top-bar {
        @extend %top-bdr;
        border-color: $color3;
        margin-left: 3rem;
      }
      h2 {
        display: flex;
        gap: 2px;
        align-items: center;
        & img {
          width: 10%;
        }
      }
      p {
        margin-top: 10px;
        margin-left: 2rem;
        font-weight: 500;
      }
    }
    @media screen and (min-width: 990px) {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      place-content: center;
    }
  }
}

//statistics
.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  margin: 20px auto;
  background: $color5;
  padding: 0.8rem 0.2rem;

  .stat {
    h1 {
      display: grid;
      place-items: center;

      font-size: 3rem;
      color: $color2;
      & img {
        width: 15%;
      }
      @media screen and(min-width: 990px) {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    p {
      font-size: 1rem;
      margin-left: 3rem;
      font-weight: 500;
    }
  }
  @media screen and (min-width: 990px) {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3rem;

    & .stat:first-child {
      margin-left: 3rem;
    }
  }
}
